
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.navbar .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-family: 'Neue-bold';
}

.navbar {
  height: 60px;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding:2em 0;
}

.logo{
  font-size: 1.8rem;
}

.logo .logo-left{ 
  color: #4cae9b;
}

.logo .logo-right{
  color: #2b2b2b;
}

.nav-elements{
  z-index: 100;
}


.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}


.nav-elements ul li {
  margin-right: 40px;
  font-size: 1.1rem;
}

.nav-elements ul a {
  font-family: 'Neue-light';
  font-weight: 600;
  color: #2b2b2b;
  text-decoration: none;
  display: block;
}

.nav-elements ul a:hover{
  color: #4cae9b;
}

.nav-elements ul a.active {
  color: #4cae9b;
  position: relative;
}




@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
    font-size: 1rem;
  }

  .logo{
    font-size: 1.55rem;
  }
}



@media (max-width: 635px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }


  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #e9f5f0;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;

  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;

  }

  
}

.fixed-navbar{
  width: 100%;
  height: 64px;
}


.static{
  position: fixed;
  background-color: white ;
  box-shadow: 0 0 2px -1px;
  z-index: 100;
}